{% extends 'main.html'%}
{% block content %}

<div>
    <h3> {{room.name}}</h3>
    <p>{{room.description}}</p>
</div>
<div class="comment-wrapper">

    <h3>Conversation</h3>
    <hr>

    {% for msg in message %}

    <div>
        <small>@{{msg.user}} {{msg.created|timesince}} ago</small>
        <p>{{msg.body}}</p>
    </div>
    <hr>

    {% endfor %}

</div>
{% if request.user.is_authenticated %}
<div class="comment-form">
    <form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="body" placeholder="Write your message...">
    <input type="submit" value="submit">
    </form>

</div>
{% endif %}

{% endblock %}