<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Simple Webpage</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/main.css' %}" >
</head>

<body>
    <header>
        <h1>Welcome to the Study Bud</h1>
    </header>
    <main>

        {% include 'navbar.html' %}

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}

        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Webpage</p>

    </footer>
</body>

</html>